<h1>Ta seule task here ca marche ???</h1>
<ul>
  <li><%= @one_task.title%></li>
  <li><%= @one_task.details%></li>
  <li><%= @one_task.completed%></li>
</ul>
<%= link_to "Your tasks list !", tasks_path %>
